<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to 'Show', project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div data-ng-controller="ProjectIndexController as vm">
  <div data-ng-repeat="project in vm.projects">
      <h2>{{project.title}}</h2>
      <h3>{{project.subtitle}}</h3>
      <small>{{project.category}}</small>
      <p>{{project.description}}</p>
      <div data-ng-repeat="link in project.links">
        <a href="{{link.url}}">{{link.call_to_action}}</a>
      </div>
  </div>
</div>
