<div class="about-container">
  <div class="intro">
    <h1>Hey there!</h1>
    <p>Describing oneself in a single page is a pretty tall task &mdash; 25+ years of learning and experiencing life is tough to sum up succinctly.</p>
    <p>Luckily for you, humankind has built some pretty great tools for sharing stories with one another. I invite you to check out the following if you're curious to know a little more about Nick Oki.</p>
    <p>If you're wondering about my professional experience, hop on over to my <a href="https://www.linkedin.com/in/nicholas-oki">LinkedIn</a> profile. Connect with me and send a message! I'd love to chat.<p>
    <p>You can also check out my <a href="https://www.dropbox.com/s/sx59bd7flixbe1r/Nicholas-Oki-Resume.pdf?dl=0">resume</a> if you're looking for a more printer-friendly version of that info.<p>
    <p>If you came to see some code, <code>cd</code> into my <a href="https://github.com/nickoki">GitHub</a> and have take a look around (pull requests always welcome).</p>
    <p>If you'd like to know more about how my social side, check out my <a href="https://twitter.com/nicholasoki">Twitter</a> feed. This one's great if you don't like reading more than 140 characters at a time.</p>
  </div>
  <div class="summary">
    <h1>TL;DR</h1>
    <div class="card">
      <h3>I am a&hellip;</h3>
      <ul>
        <li><span><i class="fa fa-code" aria-hidden="true"></i>programmer</span></li>
        <li><span><i class="fa fa-paint-brush" aria-hidden="true"></i>graphic designer</span></li>
        <li><span><i class="fa fa-graduation-cap" aria-hidden="true"></i>lifelong learner</span></li>
      </ul>
    </div>
    <div class="card">
      <h3>&hellip;who loves to&hellip;</h3>
      <ul>
        <li><span><i class="fa fa-cogs" aria-hidden="true"></i>think logically</span></li>
        <li><span><i class="fa fa-laptop" aria-hidden="true"></i>create engaging designs</span></li>
        <li><span><i class="fa fa-smile-o" aria-hidden="true"></i>make people smile</span></li>
      </ul>
    </div>
    <div class="card">
      <h3>&hellip;and also loves&hellip;</h3>
      <ul>
        <li><span><i class="fa fa-puzzle-piece" aria-hidden="true"></i>puzzles</span></li>
        <li><span><i class="fa fa-heartbeat" aria-hidden="true"></i>fitness</span></li>
        <li><span><i class="fa fa-reddit-alien" aria-hidden="true"></i>lurking on Reddit</span></li>
      </ul>
    </div>
    <div class="card">
      <h3>&hellip;but doesn't love quite as much&hellip;</h3>
      <ul>
        <li><span><i class="fa fa-thumbs-down" aria-hidden="true"></i>being allergic to peanuts</span></li>
        <li><span><i class="fa fa-snowflake-o" aria-hidden="true"></i>fracturing vertebrae on ski vacations</span></li>
        <li><span><i class="fa fa-space-shuttle" aria-hidden="true"></i>heights</span></li>
      </ul>
    </div>
    <div class="card">
      <h3>&hellip;with the daily goals of&hellip;</h3>
      <ul>
        <li><span><i class="fa fa-cloud-upload" aria-hidden="true"></i>learning something new</span></li>
        <li><span><i class="fa fa-cloud-download" aria-hidden="true"></i>teaching someone something</span></li>
        <li><span><i class="fa fa-star" aria-hidden="true"></i>treating people excellently</span></li>
      </ul>
    </div>
    <p>Thanks for reading. <%= link_to "Back to the start.", projects_path %></p>
  </div>
</div>
