<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <title>Nicholas Oki &ndash; Web Development &amp; Design</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
